<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <menuitem id="school_management_root"
        name="School"
        action="action_school_management"
        sequence="1"
        groups="group_school_principal"/>

        <record id="action_school_management"
            model="ir.actions.act_window">
            <field name="name">School Management</field>
            <field name="res_model">school.management</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_mode">tree,form,kanban</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
                    Create School record
                </p>
            </field>
        </record>

        <record id="view_school__tree" model="ir.ui.view">
            <field name="name">school.management.tree</field>
            <field name="model">school.management</field>
            <field name="arch" type="xml">
                <tree>
                    <field name="name" string="Student Name"/>
                    <field name="address"/>
                    <field name="school_type"/>
                    <field name="phone"/>
                    <field name="fees"/>
                </tree>
            </field>
        </record>

        <record id="view_school_form" model="ir.ui.view">
        <field name="name">school.management.form</field>
        <field name="model">school.management</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <group>
                            <field name="image" widget="image"  options="{'size': [300, 200]}"/>
                        </group>
                    </group>
                    <group>
                        <field name="name"/>
                        <field name="id"/>
                        <field name="code"/>
                        <field name="phone" widget="phone"/>
                    </group>
                    <group>
                         <field name="course"/>
                        <field name="online_class" widget="boolean_toggle"/>
                    </group>
                    <group>
                        <field name="website" widget="url"/>
                        <field name="school_type" widget="selection_badge"
                            />
                        <field name="address"/>
                    </group>
                    <group>
                        <field name="lib_fees"/>
                        <field name="tuition_fees"/>
                        <field name="picnic_fees"/>
                        <field name="fees"/>
                    </group>
                </sheet>
            </form>
        </field>
        </record>


        <record id="view_school_kanban" model="ir.ui.view">
        <field name="name">school.management.kanban</field>
        <field name="model">school.management</field>
        <field name="arch" type="xml">
            <kanban>
                <field name="id" />
                <field name="name" />
                <field name="address"/>
                <field name="phone" />
                <field name="online_class"/>
                <field name="fees" />
                <field name="course"/>
                <field name="website"/>
                <field name="image"/>
                    <templates>
                        <t t-name="kanban-box">
                            <div t-attf-class="oe_kanban_global_click">
                                <div class="o_kanban_image">
                                    <img alt="Avatar" t-att-src="kanban_image('school.management','image',record.id.raw_value)"/>
                                </div>
                                <div class="oe_kanban_details">
                                    <ul>
                                      School Name: <li><field name="name" /></li>
                                      School Address: <li><field name="address"/></li>
                                      School Number: <li><field name="phone" /></li>
                                      Online Mode: <li><field name="online_class"/></li>
                                      Fees: <li><field name="fees" /></li>
                                      Course: <li><field name="course"/></li>
                                      Website: <li><field name="website"/></li>

                                    </ul>
                                </div>
                            </div>
                        </t>
                    </templates>
            </kanban>
        </field>
    </record>

</odoo>
